<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlueWhale 프리다이브</title>
  <link rel="stylesheet" href="./style/gnb_all.css">
  <link rel="stylesheet" href="./style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Slick CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script src="./js/gnb_all.js"></script> 
  <script src="./js/script.js"></script> 
  <script src="./js/script_1.js"></script> 
</head>
<body>
  <div id = "header-container">
  <header>
    <div class="inner">
    <div id = "logo_area"><a href="/">
        <img src="./img/logo.png" alt="" class="logoImg">
    </a></div>
    <h2 class="blind">주메뉴</h2>
    <div id="hamburger-btn" class="hamburger"><i class="fa-solid fa-bars"></i></div>

    
    <nav>
      <ul class="gnb clear gnb_pc">
        <li>
          <a href="#">
            <span>회사소개</span>
          </a>
          <ul>
              <li><a href="#">미구현</a></li>
              <li><a href="#">미구현</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span>코스안내</span>
          </a>
          <ul>
            <li><a href="#">미구현</a></li>
            <li><a href="#">미구현</a></li>
          </ul>
        </li>

        <li>
          <a href="/products">
            <span>상품</span>
          </a>
        </li>

        <li>
          <a href="/contact">
            <span>문의</span>
          </a> 
        </li>				

      </ul>


    </nav>

    <div class="login_info login_info_pc">
      <% if (typeof user !== 'undefined' && user) { %>
        <% if (user.admin_chk === 1) { %>
          <!-- 관리자 -->
          <button onclick="window.location.href='/products_ctl'">
            <i class="fa-solid fa-user"></i>
            상품관리
          </button>
        <% } else { %>
          <!-- 일반 사용자 -->
          <button onclick="window.location.href='/my'">
            <i class="fa-solid fa-user"></i>
            내정보
          </button>
        <% } %>
        <button id="logoutBtn" class="logoutBtn">
          <i class="fa-solid fa-power-off"></i>
          로그아웃
        </button>
      <% } else { %>
        <!-- 비로그인 상태 -->
        <button id="signupBtn" class="joinBtn">
          <i class="fa-solid fa-user"></i>
          회원가입
        </button>
        <button id="loginBtn" class="loginBtn">
          <i class="fa-solid fa-power-off"></i>
          로그인
        </button>
      <% } %>
    </div>
    
  </div>

</header></div>
<div id="overlay"></div> <!-- 오버레이 요소 추가 -->
<div id="mobile_v">
  <div id="close_btn">
    <img src="./img/close_btn.png" alt="" id="close_btn_img">
  </div>
  <div>
    <div id="m_login_area">
      <% if (typeof user !== 'undefined' && user) { %>
        <% if (user.admin_chk === 1) { %>
          <!-- 관리자 -->
          <div onclick="window.location.href='/products_ctl'">
            <i class="fa-solid fa-user"></i>
            상품관리
          </div>
        <% } else { %>
          <!-- 일반 사용자 -->
          <div onclick="window.location.href='/my'">
            <i class="fa-solid fa-user"></i>
            내정보
          </div>
        <% } %>
        <div class="logoutBtn">
          <i class="fa-solid fa-power-off"></i>
          로그아웃
        </div>
      <% } else { %>
        <!-- 비로그인 상태 -->
        <div class="joinBtn">
          <i class="fa-solid fa-user"></i>
          회원가입
        </div>
        <div class="loginBtn">
          <i class="fa-solid fa-power-off"></i>
          로그인
        </div>
      <% } %>
    </div>
    
    <div id="m_menu">
      <ul>
        <li><a href="#" class="m_menu_link"><span>회사소개</span></a>
          <ul class="m_submenu">
            <li>미구현</li>
            <li>미구현</li>
          </ul>
        </li>
        <li><a href="#" class="m_menu_link"><span>코스안내</span></a>
          <ul class="m_submenu">
            <li>미구현</li>
            <li>미구현</li>
          </ul>
        </li>
        <li><a href="/products" class="m_menu_link"><span>상품</span></a>
   
        </li>
        <li><a href="/contact" class="m_menu_link"><span>문의</span></a>
   
        </li>
      </ul>
    </div>
  </div>
</div>








  </header></div>

</body>
<script>
  // 모바일 버전의 햄버거 버튼에서 열리는 메뉴 화면, 카테고리 열림/닫힘
  document.addEventListener("DOMContentLoaded", function () {
  const menuLinks = document.querySelectorAll(".m_menu_link");

  menuLinks.forEach((link) => {
    link.addEventListener("click", function (event) {
      // 클릭한 메뉴의 하위 메뉴를 찾음
      const submenu = this.nextElementSibling;

      if (submenu) {
        // 하위 메뉴가 있을 경우, 기본 동작 막고 열고 닫기 처리
        event.preventDefault();
        const openSubmenu = document.querySelector(".m_submenu.show");

        // 다른 하위 메뉴가 열려있으면 닫음
        if (openSubmenu && openSubmenu !== submenu) {
          openSubmenu.classList.remove("show");
          openSubmenu.style.display = "none";
        }

        // 클릭한 메뉴의 하위 메뉴 열고 닫기 토글
        submenu.classList.toggle("show");
        submenu.style.display = submenu.classList.contains("show") ? "block" : "none";
      }
      // 하위 메뉴가 없으면 기본 링크 이동
    });
  });
});

</script>
</html>